<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588172701499-o633bkvppf9v1g5voe5h07btfapsrm7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588172701499-o633bkvppf9v1g5voe5h07btfapsrm7s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588172701499-rjvvgfj7kvkvb453e07qp0akdgkmcqg6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0UJBaz2fhpDh68wNTvv9aCDHY4r2wxiM</string>
	<key>GCM_SENDER_ID</key>
	<string>588172701499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vpAdmin</string>
	<key>PROJECT_ID</key>
	<string>vishwapreneur-1767c</string>
	<key>STORAGE_BUCKET</key>
	<string>vishwapreneur-1767c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588172701499:ios:0c505cf64580e0296cd11e</string>
	<key>DATABASE_URL</key>
	<string>https://vishwapreneur-1767c.firebaseio.com</string>
</dict>
</plist>